/* register.css */

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    text-align: center;
}

/* Error and success message styling */
.error-message,
.success-message {
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.error-message {
    color: red;
}

.success-message p{
    color: black;
    background: #5cb85c; /* light green background */
}
